/* CSS Variables Start */

:root {
    --primary-color: skyblue;
    --secondary-color: black;
}



*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Header Style Start */

header {
    z-index: 9999;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    font-size: 62.5%;
    font-family: 'Courier New', Courier, monospace;
    border-bottom: 1px solid #E2e8f0;
    background-color: var(--secondary-color);
    opacity: 0.75;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.menu {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white
}

/* Header Stytle Ends */

/* Nav Style Starts */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-item {
    margin-left: 5rem;
}

.nav-link {
    font-size: 1.6rem;
    font-weight: 700;
    color: wheat
}

.nav-link:hover {
    background-color: red;
    color: whitesmoke;
    border-radius: 10px;
}

.nav-logo {
    font-size: 2.1rem;
    font-style: italic;
    font-weight: 700;
    color: silver
}

/* Nav Style Ends */

/* About Me Style Begin */

.about-me-section {
    display: flex;
    background-color: gray;
}
.about-me-section h1, .my-projects-section h1, .contact-me-section h1 {
    text-align: right;
    margin-top: 35px;
    margin-left: 40px;
    padding-right: 20px;
    border-right: 4px solid red;
    color: wheat ;
}

.about-me-section img {
    border-radius: 500px;
    width: 300px;
    height: 220px;
    margin-top: 25px;
    margin-left: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
}

.about-me-section p {
    margin-top: 10px;
    padding: 30px;
    display: inline;
    color: ghostwhite;
    font-size: 1.5rem;
}

.about-me-section span {
    font-weight: 800;
    color: var(--primary-color)
}

/* About Me Style End */

/* My Projects Style Start */

.my-projects-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color:darkslategray;
}

.my-projects-section h1 {
    display: inline;
    position: inherit;
    text-align: right;
}

.special-box {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    margin-top: 50px;
    margin-right: 227px;
    width: 500px;
    height: 350px;
    border: 4px solid var(--primary-color);
    background-image: url("/assets/images/Screenshot-RunBuddy.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}
.outer-box {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    margin: 10px;
    border: 4px solid var(--primary-color);
    width: 500px;
    height: 200px;
}

.inner-box {
    background-color: var(--primary-color);
    background-size: contain;
    padding: 2px 20px;
    margin-bottom: 40px;
    position: absolute;
    opacity: 0.7;
}

#surf-report:hover, #run:hover, #horiseon:hover, #robot:hover, #coming-soon:hover {
    opacity: 0.5;
    border-color:lightcoral ;
}


#horiseon {
    background-image: url("/assets/images/Screenshot-Horiseon.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


#robot {
    background-image: url("/assets/images/Screenshot-RobotGladiators.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#coming-soon {
    background-image: url("/assets/images/coastline.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


/* My Project Style End */

/* Footer Style Start */

.contact-me-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--secondary-color);
    opacity: 0.75;
} 

.contact-me-section span {
    align-content: center;
    justify-content: center;
}

.number {
    font-weight: 800;
    color: orangered;
}

/* Media Queries Style Start */

@media screen and (max-width: 768px) {
    header {
        z-index: 9999;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        opacity: 0.55;
    }

    /* Nav Style Start */

    .nav-menu {
        position: fixed;
        right: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: var(--secondary-color);
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        right: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .nav-link {
        color: ghostwhite;
    }
    .nav-link:hover {
        background-color: orangered;
    }

    .menu {
        display: block;
        cursor: pointer;
    }
    

    .menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .menu.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .menu.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* Nav Style End */

    /* About Me Style Start */

    .about-me-section{
        flex-direction: row;
        background-image: url("/assets/images/selfieResize.png");
        background-repeat: no-repeat;
        background-size: 400px 400px;
        background-color: indianred;

    }   

    .about-me-section p {
         text-shadow: 7 9 5 0.5;
        color: ghostwhite
    }

    .about-me-section img {
        position: absolute;
        top: -100%;
    }

    /* About Me Style End */

    /* My Projects Style Start */

    .my-projects-section{
        background-color: silver;
    }
    
    .my-projects-section h1 {
        margin: 0;
        text-align: right;
        padding-right: 5px;
    }
    
    .special-box {
        margin-top: 40px;
        margin-right: auto;
    }

    .inner-box {
        background-color: var(--primary-color);
        background-size: contain;
        padding: 2px 20px;
        margin-bottom: 40px;
        position: absolute;
        opacity: 0.7;
    }

     /* My Projects Style End */

     /* Footer Style Start */

     .contact-me-section {
         justify-content: space-evenly;
         align-items: center;
    }

     .number {
         font-weight: 800;
         color: orangered;
    }
    
    /* Footer Style End */

}

/* Media Query End */